body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(154, 147, 158);  
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.toDoList{
  list-style: none;
  width: 350px;
  text-align: center;
  padding: 1%;
  z-index: 1;
  background-color: lightyellow;
  border-radius: 5%;
  padding-bottom: 2%;
  min-height: 300px;
  border: 3px solid #e9e9a3;
  position: relative;
  margin-right: 15px;
  margin-top: 100px;
  box-shadow: 
    10px 10px 20px -15px black, 
    7px 7px 0px lightyellow, 
    7px 7px 0px 3px #e9e9a3,
    20px 20px 25px -15px black, 
    17px 17px 0px lightyellow, 
    17px 17px 0px 3px #e9e9a3
}


input{
  border: none;
  width: 180%;
  padding: 0;
  outline: 0;
  background-color: lightgoldenrodyellow; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
i:hover{
  color: orange;
}

::placeholder{
  color: lightgray;
}

li {
  border: none;
  padding: 1.5%;
  margin: 2px;
  display: flex;
  justify-content:space-between;
  background-color: lightgoldenrodyellow;
  /* overflow: hidden; */

}
i {
  visibility: hidden;
}

li:hover i{
  visibility: visible;
}
